.bg-red {
    background-color: #d9534f !important;
}

.bg-green {
    background-color: #5cb85c !important;
}

.bg-blue {
    background-color: #337ab7 !important;
}

.bg-warning {
    background-color: #f0ad4e !important;
}