.events-list {
    margin-top: 30px;
}

.tagline span, .tagline-bottom span {
    cursor: pointer;
}

.tagline span .fa, .tagline-bottom span .fa {
    display: none;
    cursor: pointer;
}

.tagline span:hover > .fa, .tagline-bottom span:hover > .fa {
    display: inline-block;
}

.tagline .title input {
    background: transparent;
    border: none;
}

.event-type {
    cursor: pointer;
}