body {
    padding-top: 70px;
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.business-header {
    margin-top: -10px;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    color: #fff;
    padding: 15px;
}

.tagline-bottom {
    position: absolute;
    bottom: 0;
    right: 15px;
    left: 15px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.65);
}

.tagline .title {
    font-size: 2.5em;
    text-shadow: 0 0 10px #000;
}

.img-center {
    margin: 0 auto;
}

#dateEndPicker ul.uib-datepicker-popup.dropdown-menu {
    left: -100px !important;
}