<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <img class="navbar-toggle navbar-avatar collapsed"
                 data-toggle="collapse"
                 data-target="#bs-example-navbar-collapse-1"
                 aria-expanded="false"
                 ng-src="{{global.currentUser.image.url}}" alt="">
            <a class="navbar-brand" href="#">Events App</a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="nav-bar1" class="nav navbar-nav navbar-right pull-right">
                <li>
                    <button class="btn btn-success btn-sm navbar-btn create-event" ui-sref="main.event.add">
                        <i class="fa fa-plus-circle"></i> Add Event
                    </button>
                </li>
                <li class="dropdown pull-right">
                    <a href="" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <b>{{global.currentUser.username}}</b>
                        <img ng-src="{{global.currentUser.image.url}}" alt="">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="main.user.myProfile">My Profile</a></li>
                        <li><a ui-sref="main.event">My Events</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="main.user.settings">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="auth">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <ul id="nav-bar2" class="nav navbar-nav">
                <li><a ui-sref="main.user.myProfile">My Profile</a></li>
                <li><a ui-sref="main.event">My Events</a></li>
                <li role="separator" class="divider"></li>
                <li><a ui-sref="main.user.settings">Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a ui-sref="auth">Log Out</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container-fluid">

    <ui-view></ui-view>

    <hr>

    <button id="btn-add-event" class="btn btn-success btn-lg" ui-sref="main.event.add">
        <i class="fa fa-plus-circle"></i>
    </button>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="text-center">
                    <a href="https://cosmicjs.com" target="_blank" style="text-decoration: none;">
                    <img src="https://cosmicjs.com/images/logo.svg" width="28" height="28">
                    &nbsp;&nbsp;Proudly powered by Cosmic JS</a>
                </div>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
